<article class="home">
    <header><h3>Components</h3></header>
    {% if components %}
    <ul>
        {% for component in components %}
            <li>
                <a href="#">
                    {{ component.title }}
                </a>
           </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No Components have been added yet.</p>
    {% endif %}
    <footer>
        <a href={{ url_for("components.component_create") }}>Create new Component</a>
    </footer>
</article>
