{% extends "layout.html" %}

{% block title %}{{ component.title }}{% endblock %}
{% block page_title %}{{ component.title }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href={{ url_for("components.components_list") }}>Components</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ component.title }}</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    <p>{{ component["description"] }}</p>
    <p>
        <a href={{ url_for("components.file_download", filename=filename) }} download={{ filename }}>Download file</a>
    </p>
    <section>
    component display
    </section>
{% endblock %}
