{% extends "layout.html" %}

{% block title %}{{ component.title }}{% endblock %}
{% block page_title %}{{ component.title }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href={{ url_for("components.components_list") }}>Components</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ component.title }}</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    <p>{{ component["description"] }}</p>
    <p>
        <a href={{ url_for("components.component_file_download", filename=filename) }} download={{ filename }}>
            Download file <ion-icon name="download-outline"></ion-icon>
        </a>
    </p>
    <section>
    <h3>Add Controls</h3>
    {% for catalog in component.catalogs %}
        <article class="component">
            <header><b>Catalog: {{ catalog.title }}</b></header>
            <footer>
                <a role="button" href={{ url_for(
                    "components.component_show_catalog",
                    component_id=component.id,
                    catalog_id=catalog.id
                )  }}>
                    Add Control
                </a>
            </footer>
        </article>
    {% endfor %}
    </section>
    <section>
        <h3>Add Catalogs</h3>
        {% for cat in catalogs %}
            <ul>
            {% if cat not in component.catalogs %}
                <li>
                    <a href={{ url_for(
                        "components.component_add_catalog",
                        component_id=component.id,
                        catalog_id=cat.id
                        ) }}>
                        {{ cat.title }}
                    </a>
                </li>
            {% endif %}
            </ul>
        {% endfor %}
    </section>
{% endblock %}
