{% extends "layout.html" %}

{% block title %}Components{% endblock %}
{% block page_title %}Components{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li>Components</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    {% if (components is defined) and components %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created date</th>
            </tr>
        </thead>
        <tbody>
            {% for component in components %}
                <tr>
                    <td>
                        <a href={{ url_for("components.components_view", component_id=component["id"]) }}>
                            {{ component.title }}
                        </a>
                    </td>
                    <td>{{ component["description"] }}</td>
                    <td>{{ component["created"].strftime("%Y-%m-%d") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <a role="button" href={{ url_for("components.component_create") }}>Add a Component</a>
{% endblock %}
