{% extends "layout.html" %}

{% block title %}{{ catalog["name"] }}{% endblock %}
{% block page_title %}{{ metadata["title"] }}{% endblock %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href={{ url_for("catalogs.catalogs_list") }}>Catalogs</a></li>
    <li>{{ catalog.title }}</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    <section>
        <ul>
            <li><b>Version:</b> {{ metadata["version"] }}</li>
            <li><b>OSCAL version:</b> {{ metadata["oscal_version"] }}</li>
            <li><b>Last modified:</b> {{ metadata["last_modified"].strftime("%Y-%m-%d") }}</li>
            <li><a href={{ catalog.source }} target="_blank">Source</a> <ion-icon name="open-outline"></ion-icon></li>
        </ul>
    </section>
    <section>
    {% for group in groups %}
        <details>
            <summary class="secondary" role="button">{{ group["group_id"]|upper }}: {{ group["title"] }}</summary>
                <ul>
                {% for control in group["controls"] %}
                    <li>
                        <a href={{ url_for(
                            "catalogs.control_view",
                            catalog_id=catalog["id"],
                            control_id=control["control_id"]
                        ) }}>
                            <b>{{ control["control_id"]|upper }}:</b> {{ control["title"] }}
                        </a>
                        {% if "enhancements" in control %}
                            <ul>
                                {% for enhancement in control["enhancements"] %}
                                    <li>
                                        <a href={{ url_for(
                                            "catalogs.control_view",
                                            catalog_id=catalog["id"],
                                            control_id=enhancement["control_id"]
                                        ) }}>
                                            <b>{{ enhancement["control_id"]|upper }}:</b> {{ enhancement["title"] }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
        </details>
    {% endfor %}
        <a role="button" class="update-link outline" href={{ url_for("catalogs.catalog_update", catalog_id=catalog["id"]) }}>
            Update catalog
        </a>
    </section>
{% endblock %}
