{% extends "layout.html" %}

{% block title %}{{ control["id"]|upper }}: {{ control["title"] }}{% endblock %}
{% block page_title %}{{ control["id"]|upper }}: {{ control["title"] }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href={{ url_for("catalogs.catalogs_list") }}>Catalogs</a></li>
        <li><a href={{ url_for("catalogs.catalog_view", catalog_id=catalog.id) }}>{{ catalog.title }}</a></li>
        <li>{{ control["id"]|upper }}: {{ control["title"] }}</li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <h3>{{ group["id"]|upper }}: {{ group["title"] }}</h3>
    <article>
    {% for s in statement %}
        <p
            data-id="{{ s["id"]|replace("_smt", "") }}"
            data-key="{{ s["label"] }}"
            class="desc-{{ s["id"]|replace("_smt", "")|length }}"
        >
             {% if s["label"]["value"] %}{{ s["label"]["value"] }}{% endif %} {{ s["prose"] }}
        </p>
    {% endfor %}
    </article>
    <details open>
        <summary>Guidance</summary>
        <p>{{ guidance }}</p>
    </details>
    {% if links|length > 0 %}
        {% if links["related"]|length > 0 %}
            <details>
                <summary>Related Controls</summary>
                <p>
                {% for rel in links["related"] %}
                    <a href={{ url_for(
                        "catalogs.control_view",
                        catalog_id=catalog["id"],
                        control_id=rel)
                            }}><b>{{ rel|upper }}</b></a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                </p>
            </details>
        {% endif %}
        {% if links["reference"]|length > 0 %}
            <details>
                <summary>References</summary>
                {% for ref in links["reference"] %}
                    <article>
                    <h4>{{ ref["title"] }}</h4>
                    {% if ref.citation is defined %}
                        <p>{{ ref.citation["text"] }}</p>
                    {% endif %}
                    {% for rl in ref["rlinks"] %}
                        <p><a href={{ rl["href"] }} target="_blank">{{ rl["href"] }}</a></p>
                    {% endfor %}
                    </article>
                {% endfor %}
            </details>
        {% endif %}
    {% endif %}
{% endblock %}
