{% extends "layout.html" %}

{% block title %}Add a Catalog{% endblock %}
{% block page_title %}Add a Catalog{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href={{ url_for("catalogs.catalogs_list") }}>Catalogs</a></li>
    <li class="is-active"><a href="#" aria-current="page">Add Catalog</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% if form.csrf_token.errors %}
            <div class="warning">You have submitted an invalid CSRF token</div>
        {% endif %}
        <label for="title">{{ form.title.label.text }} <span class="required">*</span>
            {{ form.title }}
        </label>

        <label for="description">{{ form.description.label.text }} <span class="required">*</span>
            {{ form.description }}
        </label>

        <label for="source">{{ form.source.label.text }} <span class="required">*</span>
            {{ form.source }}
        </label>

        <label for="catalog_file">{{ form.catalog_file.label.text }} <span class="required">*</span>
            {{ form.catalog_file }}
        </label>

        <button type="submit">Submit</button>
        <button class="secondary outline">Cancel</button>
    </form>
{% endblock %}
