{% extends "layout.html" %}
{% block title %}Catalogs{% endblock %}
{% block page_title %}Catalogs{% endblock %}


{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li>Catalogs</li>
  </ul>
</nav>
{% endblock %}
{% block content %}
    {% if (catalogs is defined) and catalogs %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created date</th>
            </tr>
        </thead>
        <tbody>
            {% for catalog in catalogs %}
                <tr>
                    <td>
                        <a href={{ url_for("catalogs.catalog_view", catalog_id=catalog["id"]) }}>
                            {{ catalog["title"] }}
                        </a>
                    </td>
                    <td>{{ catalog["description"] }}</td>
                    <td>{{ catalog["created_on"].strftime("%Y-%m-%d") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <a role="button" href={{ url_for("catalogs.catalog_create") }}>Add a Catalog</a>
{% endblock %}
