{% extends "layout.html" %}

{% block title %}Update Catalog{% endblock %}
{% block page_title %}Update Catalog{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href={{ url_for("catalogs.catalogs_list") }}>Catalogs</a></li>
    <li><a href={{ url_for("catalogs.catalog_view", catalog_id=catalog.id) }}>{{ catalog.title }}</a></li>
    <li>Update Catalog</li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% if form.csrf_token.errors %}
            <div class="warning">You have submitted an invalid CSRF token</div>
        {% endif %}
        <label for="name">{{ form.title.label }}
            {{ form.title }}
        </label>

        <label for="description">{{ form.description.label }}
            {{ form.description }}
        </label>

        <label for="source">{{ form.source.label }}
            {{ form.source }}
        </label>

        <button type="submit">Submit</button>
        <button class="secondary">Cancel</button>
    </form>
    <hr/>
    <form action={{ url_for("catalogs.catalog_delete", catalog_id=catalog["id"]) }}>
        <button class="contrast outline" onclick="return confirm('Are you sure?');">
            Delete
        </button>
    </form>
{% endblock %}
