{% extends "layout.html" %}

{% block title %}Components{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumb has-arrow-separator m-4" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Components</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
    <h1 class="title">Components</h1>
    {% if (components is defined) and components %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created date</th>
            </tr>
        </thead>
        <tbody>
            {% for component in components %}
                <tr>
                    <td>
                        <a href={{ url_for("components.component_view", component_id=component["id"]) }}>
                            {{ component["name"] }}
                        </a>
                    </td>
                    <td>{{ component["description"] }}</td>
                    <td>{{ component["created"].strftime("%Y-%m-%d") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <p><a href={{ url_for("components.component_add") }}>Add a Component</a></p>
{% endblock %}
