<!doctype html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} | Component Creator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
    </head>
    <body>
        <header>
            {% include "navbar.html" %}
        </header>
        <main class="container">
            {% block breadcrumbs %}{% endblock %}
            <h2>{% block page_title %}{% endblock %}</h2>
            {% for key, message in get_flashed_messages(with_categories=True) %}
                <article class="flash {{ key }}">
                    {{  message }}
                </article>
            {% endfor %}
            <section>
                {% block content %}{% endblock %}
            </section>
        </main>
        {% include "footer.html" %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
